{% extends 'back/base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}

    <div class="container">
        <div class="containerTable">
            <table class="table table-hover">
                {{ form_start(filters) }}
                <thead>
                    <tr>
                        <th scope="col" class="colId">
                            {# filtre par id #}
                            {{ form_widget(filters.id)}}
                            {{knp_pagination_sortable(
                                baskets,
                                'Id',
                                'basket.id'
                            )|raw
                            }}
                        </th>
                        <th scope="col" class="colCustomer">
                            {# filtre par client #}
                            {{ form_widget(filters.customer)}}
                            {{knp_pagination_sortable(
                                baskets,
                                'Client',
                                'customer.username'
                            )|raw
                            }}
                        </th>
                        <th scope="col" class="colAddress">
                            {# filtre par client #}
                            {{ form_widget(filters.address)}}
                            {{knp_pagination_sortable(
                                baskets,
                                'Adresse',
                                'address.country'
                            )|raw
                            }}
                        </th>
                        <th scope="col" class="colBillingDate">
                            {# filtre par date de facturation #}
                            {{ form_widget(filters.billingDate)}}
                            {{knp_pagination_sortable(
                                baskets,
                                'Date de facturation',
                                'basket.billingDate'
                            )|raw
                            }}
                        </th>
                        <th scope="col" class="colMeanOfPayment">
                            {# filtre par moyen de paiement #}
                            {{ form_widget(filters.meanOfPayment)}}
                            {{knp_pagination_sortable(
                                baskets,
                                'Moyen de paiement',
                                'meanOfPayment.designation'
                            )|raw
                            }}
                        </th>
                        <th scope="col" class="colStatus">
                            {# filtre par status #}
                            {{ form_widget(filters.status)}}
                            {{knp_pagination_sortable(
                                baskets,
                                'Status',
                                'status.name'
                            )|raw
                            }}
                        </th>
                        <th scope="col">
                            <a class="button btnAction" href=" {{ path('app_basket_index') }}">Reset</a>
                            <button class="button btnAction" type="submit">Rechercher</button>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for basket in baskets %}
                    <tr>
                        <th scope="row">{{ basket.id }}</th>
                        <td class="colCustomer">{{ basket.customer.username ?  basket.customer.username: '' }}</td>
                        <td class="colAddress">{{ basket.address.country ? basket.address.country : '' }}</td>
                        <td class="colBillingDate">{{ basket.billingDate ? basket.billingDate|date('d/m/Y') : '' }}</td>
                        <td class="colMeanOfPayment">{{ basket.meanOfPayment.designation ?  basket.meanOfPayment.designation: '' }}</td>
                        <td class="colStatus">{{ basket.status.name ?  basket.status.name: '' }}</td>
                        <td>
                            <a class="button btnAction" href="{{ path('app_basket_show', {'id': basket.id}) }}">Detail</a>
                            <a class="button btnAction" href="{{ path('app_basket_edit', {'id': basket.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Aucune commande n'a été trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
                {{ form_end(filters) }}
            </table>
        </div>
        {{ knp_pagination_render(baskets) }}
    </div>
{% endblock %}
