{% if products is not empty %}
    {% for product in products %}   
        <div class="product">
            {% for image in product.images %}
                <img src="{{ asset('/build/images/' ~ image.path) }}" alt="Image du Produit" alt="{{ product.title }}"> 
            {% endfor %}
                <p class="productTitle">{{ product.title }}</p>

                {% set priceTaxIncl = product.priceExclVat |priceTaxIncl( product.tva) %}

                {% if product.promotion %}
                    <p class="priceProduct">{{ product.priceExclVat|priceTaxIncl( product.tva, product.promotion.percentage) }}€</p>
                    <del>{{ priceTaxIncl }}€</del>
                {% else %}
                    <p class="priceProduct">{{ product.priceExclVat |priceTaxIncl( product.tva) }}€</p>
                {% endif %}
        </div>
    {% endfor %}
{% endif %}