
            {% for item in items %}                  
                <div class="lineShoppingCart">
                    <div class="leftShoppingCart">
                        {% for image in item.product.images %}
                            {% if image.isMain == true %}
                                <a href="{{ path('app_detail_product', {slug: item.product.slug}) }}">
                                    <img class="productImage" src="{{ asset("build/images/" ~ image.path) }}" alt="{{ item.product.name }}">
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="rightShoppingCart">
                        <div class="titleAndPrice">
                            <p class="productTitle">{{ item.product.name |slice(0, 20) }}</p>
                            <p>{{ item.product.brand.name |slice(0, 20) }}</p>
                        
                            {% set priceTaxIncl = item.product.priceExclVat |priceTaxIncl( item.product.tva) %}
                            {% if item.product.promotion  and item.product.promotion.expirationDate > 'now' | date('d/m/Y') %}

                                <div class="productPrice">
                                <div class="promoInfo">
                                    <del>{{ priceTaxIncl }}€</del>
                                    <span class="percentagePromo">{{ item.product.promotion.percentage | percentagePromo }}</span>
                                </div>
                                    <p class="price">{{item.product.priceExclVat | priceTaxIncl( item.product.tva, item.product.promotion.percentage) }}€</p> 
                                </div>

                            {% else %}
                                <p class="productPrice">{{ priceTaxIncl }}€</p>
                            {% endif %}
                        </div>
                        <div class="quantityAndTotalLineAndDelete">
                        {% if quantity is defined or delete is defined %}
                            <div class="lineQuantity">
                                <a href="{{ path('app_shoppingCart_add', {id: item.product.id}) }}" class="increment"><i class="fa-solid fa-plus" ></i></a>
                                <p class="quantity">{{ item.quantity }}</p>
                                <a href="{{ path('app_shoppingCart_substractQuantity', {id: item.product.id}) }}" class="decrement"><i class="fa-solid fa-minus"></i></a>
                            </div>
                        {% else %}
                                <p class="quantity">Qté x{{ item.quantity }}</p>
                        {% endif %}
                            {% if item.product.promotion %}
                                <p class="totalLine">{{ (item.product.priceExclVat | priceTaxIncl( item.product.tva, item.product.promotion.percentage)) * item.quantity}}€</p>
                            {% else %}
                                <p class="totalLine">{{ priceTaxIncl * item.quantity }}€</p>
                            {% endif %}
                            {% if quantity is defined or delete is defined %}
                                <a href=" {{ path('app_shoppingCart_remove', {id: item.product.id}) }}"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}