   {% for product in products %}
        <div class="card">
        <a href="{{ path('app_detail_product', {'slug': product[0].slug}) }}">
        
            {% for image in product[0].images %}
                <img src="{{ asset("build/images/" ~ image.path) }}" alt="{{ product[0].name }}">
            {% endfor %}
            {% if product[0].name|length < 17 %}
                  <h3 class="title-product">{{ product[0].name }}</h3>
            {% else %}
                <h3 class="title-product">{{ product[0].name | slice(0, 15) }}...</h3>  
            {% endif %}

            {% if product[0].promotion and product[0].promotion.expirationDate | date('Y-m-d H:i:s') > 'now' | date('Y-m-d H:i:s') %}
                <span class="badge">{{ product[0].promotion.percentage | percentagePromo }}</span>
            {% endif %}
                <div class="stars-reviews">
                <div class="stars">
                {{ product['Note'] | stars }}
                </div>
                <p class="p-1">({{ product['Avis'] }} avis)</p>
            </div>

            {% set priceTaxInclWithoutPromo = product[0] | priceTaxIncl(false) %}
            {% set priceTaxAndPromoIncl = product[0] | priceTaxIncl %}

            {% if product[0].promotion and product[0].promotion.expirationDate | date('Y-m-d H:i:s') > 'now' | date('Y-m-d H:i:s') %}

                <p class="price priceInline">{{ priceTaxAndPromoIncl }}€</p> 
                <del>{{ priceTaxInclWithoutPromo }}€</del>

            {% else %}
                <p class="price">{{ priceTaxInclWithoutPromo }}€</p>
            {% endif %}
            <a href=" {{ path('app_shoppingCart_add', {id: product[0].id} )}}" class="btn btnAddBasket cover">Ajouter au panier</a>
        </a>
        </div>            
    {% endfor %}