   {% for product in products %}
        <div class="card">
        <a href="{{ path('app_detail_product', {'slug': product[0].slug}) }}">
        
            {% for image in product[0].images %}
                <img src="{{ asset("build/images/" ~ image.path) }}" alt="{{ product[0].name }}">
            {% endfor %}
            <h3 class="title-product">{{ product[0].name }}</h3>

            {% if product[0].promotion and product[0].promotion.expirationDate > 'now' | date('d/m/Y') %}
                <span class="badge">{{ product[0].promotion.percentage | percentagePromo }}</span>
            {% endif %}
                <div class="stars-reviews">
                <div class="stars">
                {{ product['Note'] | stars }}
                </div>
                <p class="p-1">({{ product['Avis'] }} avis)</p>
            </div>

            {% set priceTaxIncl = product[0].priceExclVat |priceTaxIncl( product[0].tva) %}

            {% if product[0].promotion and product[0].promotion.expirationDate > 'now' | date('d/m/Y') %}

                <p class="price priceInline">{{product[0].priceExclVat | priceTaxIncl( product[0].tva, product[0].promotion.percentage) }}€</p> 
                <del>{{ priceTaxIncl }}€</del>

            {% else %}
                <p class="price">{{ priceTaxIncl }}€</p>
            {% endif %}
            <a href=" {{ path('app_shoppingCart_add', {id: product[0].id} )}}" class="btn btnAddBasket cover">Ajoutez au panier</a>
        </a>
        </div>            
    {% endfor %}