  

<div class="shoppingCartContainer">
        <div class='{{ class|default('') }} contentShoppingCart'>
            {{ contentCheckout }}
        </div>
  <div class="resumeShoppingCart">
        <h2 class="h2ShoppingCart">Résumé</h2>
        <div class="infoCartContainer">
            <div class="shippingContainer">
                <p>Livraison</p>
                <p>Offerte</p>
            </div>
            <div class="totalShoppingCartContainer">
                <p>Total de la commande (TVA incluse)</p>
                <p class="totalLine">{{ total }}€</p>
            </div>
        </div>

        {% if formSubmit is defined and formSubmit == true %}
               <button href="{{ path( path|default('app_checkout_login')) }}" class="btn btnAddBasket" type="submit">{{ btnContent|default('CONTINUER') }}</button>
        {% elseif form is defined and form == true %}
                <form action="{{ path( path|default('app_checkout_login')) }}" method="POST">
                    <button class="btn btnAddBasket" type="submit" id="checkout-button">{{ btnContent|default('CONTINUER') }}</button>
                       <input type="hidden" name="token" value="{{ csrf_token('payment' ~ order.id) }}"/>
                </form>
                {# <a href="{{ path( path|default('app_checkout_login')) }}?_csrf_token={{ csrf_token('payment' ~ order.id) }}" class="btn btnAddBasket">{{ btnContent|default('CONTINUER') }}</a> #}
        {% elseif noLink is defined and noLink == true %}
            {# Déja un btn de connexion (login) #}
        {% else %}
                <a href="{{ path( path|default('app_checkout_login')) }}" class="btn btnAddBasket">{{ btnContent|default('CONTINUER') }}</a>
        {% endif %}
        
    </div>
</div>