  

<div class="shoppingCartContainer">
        <div class='{{ class|default('') }} contentShoppingCart'>
            {{ contentCheckout }}
        </div>
  <div class="resumeShoppingCart">
        <h2 class="h2ShoppingCart">Résumé</h2>
        <div class="infoCartContainer">
            <div class="shippingContainer">
                <p>Livraison</p>
                <p>Offerte</p>
            </div>
            <div class="totalShoppingCartContainer">
                <p>Total de la commande (TVA incluse)</p>
                <p class="totalLine">{{ total }}€</p>
            </div>
        </div>
        {% if btn is defined and btn == false %}
            <a href="{{ path( path|default('app_checkout_login')) }}" class="btn btnAddBasket">{{ btnContent|default('CONTINUER') }}</a>
       {% elseif btn is defined and btn == true %}
       {% else %}
               <button href="{{ path( path|default('app_checkout_login')) }}" class="btn btnAddBasket">{{ btnContent|default('CONTINUER') }}</button>
        {% endif %}
        
    </div>
</div>