{% extends 'front/base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section class="container-me">
    <div class="authentication">
        <h1>Réinitialisation de mot de passe</h1>
        {{ form_start(passForm) }}
             <div class="formChild">
                {{ form_label(passForm.password) }}
                {% set input %} 
                    {{ form_widget(passForm.password) }}
                {% endset %}
                {% include "/front/partials/_togglePassword.html.twig" with {
                    input: input,
                } %}
                
                {% if form_errors(passForm.password) %}
                    <div class="error">
                        {{ form_errors(passForm.password) }}    
                    </div>
                {% endif %}
                
             </div>
            <button class="button" type="submit">Enregistrer</button>
        {{ form_end(passForm) }}
    </div>
</section>
{% endblock %}
