{% extends 'front/base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section class="container-me">
    <div class="form">
        <h1>Réinitialisation de mot de passe</h1>
        {{ form_start(requestPassForm) }}
             <div class="formChild">
                {{ form_label(requestPassForm.email) }}
                {{ form_widget(requestPassForm.email) }}
                {{ form_errors(requestPassForm.email) }}
             </div>
            <button class="button" type="submit">Enregistrer</button>
        {{ form_end(requestPassForm) }}
    </div>
</section>
{% endblock %}
