

{% if products is not empty %}
    {% for product in products %}   
        {% if isSearchBack == false %}
            <a href="{{ path('app_detail_product', {slug: product.slug})}}">
        {% endif %}
            <div class="product">
                {% for image in product.images %}
                    <img src="{{ asset('/build/images/' ~ image.path) }}"  alt="{{ product.name }}"> 
                {% endfor %}
                <p class="productTitle">{{ product.name }}</p>
                {% set priceTaxIncl = product.priceExclVat |priceTaxIncl( product.tva) %}

                {% if product.promotion %}
                    <p class="priceProduct">{{ product.priceExclVat|priceTaxIncl( product.tva, product.promotion.percentage) }}€</p>
                    <del>{{ priceTaxIncl }}€</del>
                {% else %}
                    <p class="priceProduct">{{ product.priceExclVat |priceTaxIncl( product.tva) }}€</p>
                {% endif %}
            </div>
        {% if isSearchBack == false %}
            </a>
        {% endif %}
    {% endfor %}
{% endif %}
