

{% if products is not empty %}
    {% for product in products %}   
        {% if isSearchBack == false %}
            <a href="{{ path('app_detail_product', {slug: product.slug})}}">
        {% endif %}
            <div class="product">
                {% for image in product.images %}
                    <img src="{{ asset('/build/images/' ~ image.path) }}"  alt="{{ product.name }}"> 
                {% endfor %}
                <p class="productTitle">{{ product.name }}</p>

                {% set priceTaxInclWithoutPromo = product | priceTaxIncl(false) %}
                {% set priceTaxAndPromoIncl = product | priceTaxIncl %}
                {% if product.promotion %}
                    <p class="priceProduct">{{ priceTaxAndPromoIncl }}€</p>
                    <del>{{ priceTaxInclWithoutPromo }}€</del>
                {% else %}
                    <p class="priceProduct">{{ priceTaxInclWithoutPromo }}€</p>
                {% endif %}
            </div>
        {% if isSearchBack == false %}
            </a>
        {% endif %}
    {% endfor %}
{% endif %}
