{% extends 'front/base.html.twig' %}

{% block title %}La Nîmes'alerie{% endblock %}

{% block body %}
    <main>

        <!-- Nouveautés -->
        <section id="new-products" class="container-me">
                <h2 class="h2">Nouveautés</h2>
                <div class="carrouselContainer">
                    <span class="arrow_left"></span>
                    <span class="arrow_right"></span>
                    <div class="carrousel carrouselProducts">          
                        {% include 'front/partials/_product.html.twig' with {
                            'products': newProducts,
                        } %}
                    </div>
                </div>
            </div>
                {# <a href="#" class="btn btn-dark">Tout voir</a> #}
        </section>

        <!-- Brand cover -->
        <section class="container-me" id="brandtCover">
            <div class="brandt-big-cover">
                <img class="hills-big-brandt" src="{{ asset("build/images/hills-brand-big.jpg") }}" alt="">
                <img class="wolf-big-brandt" src="{{ asset("build/images/wolf-brand-big.jpg") }}" alt="">
            </div>
        </section>

        <!--  Nos Meileurs Ventes -->
        {# Les mieux notés #}
        <section id="best-sales">
            <div class="container-me">
                <h2 class="h2">Les mieux notés</h2>
                <div class="carrouselContainer">
                    <i class="arrow_left fa-solid fa-circle-chevron-left"></i>
                    <i class="arrow_right fa-solid fa-circle-chevron-right"></i>
                    <div class="carrousel carrouselProducts">                       
                        {% include 'front/partials/_product.html.twig' with {
                            'products': topRatedProducts,
                        } %}
                    </div>
                </div>
                {# <a href="#" class="btn btn-dark">Tout voir</a> #}
            </div>
        </section>


        <section id="bestBrands" class="container-me">
            <div class="bestBrandsCarrousel">
                <h2 class="h2">Marques populaires</h2>
                <div class="carrouselContainer">
                    <span class="arrow_left"></span>
                    <span class="arrow_right"></span>
                    <div class="carrousel carrouselBrands">
                      {% for brand in brands %}
                        <a href="{{ path('app_brand_detail', {slug: brand.slug}) }}"><img src="{{ asset("build/images/" ~ brand.pathImage) }}" alt="{{ brand.name }}"></a>
                      {% endfor %}
                    </div>
                </div>
            </div>
            <div class="dogContainer">
                <div class="dog"></div>
            </div>
        </section>

        {# <section id="blog" class="container-me">
            <h2 class="h2">Blog</h2>
            <div class="containerBlog">
                <div class="article-blog">
                    <div class="image-date">
                        <img src="{{ asset("build/images/blog-1.png") }}" alt="Photo article Apprenez à comprendre votre chien">
                        <span class="date-article"><span>1</span>Avril</span>
                    </div>
                    <h3>Apprenez à comprendre votre chien</h3>
                </div>
                <div class="article-blog">
                     <div class="image-date">
                        <img src="{{ asset("build/images/blog-2.png") }}" alt="Photo article Apprenez à comprendre votre chien">
                        <span class="date-article"><span>11</span>Decembre</span>
                    </div>
                    <h3>Comment bien nourrir votre animal de compagnie</h3>
                </div>
                <div class="article-blog">
                    <div class="image-date">
                        <img src="{{ asset("build/images/blog-3.png") }}" alt="Photo article Apprenez à comprendre votre chien">
                        <div class="date-article"><span>27</span>Mai</div>
                    </div>
                    <h3>Les aliments naucif pour votre lapin de compagnie</h3>
                </div>
            </div>
            <a href="" class="btn">Voir plus</a>
        </section> #}

        <!-- Avis clients -->
        <section id="testimonials">
            <h2 class="h2 h2testimonials">Avis clients</h2>
            <div class="testimonialsNewletter">
                <div class="testimonials-slider">
                <div class="testimonialContainer">
                    <span class="arrow_left"></span>
                    <span class="arrow_right"></span>
                    {% for review in reviews %}
                    {# data-index='{{ loop.index }}' #}
                        <div class="testimonial-item">
                            <div class="testimonials">
                                <span class="guillemet">❝</span>
                                {% if review.comment|length < 110 %}
                                    <p>{{ review.comment }}</p>
                                {% else %}
                                    <p>{{ review.comment | slice(0, 110) }} ...</p>
                                {% endif %}
                                <div class="profil">
                                    <img src="{{ asset("build/images/photo de profil avis 1.png") }}" alt="Photo de profil">
                                    <h3>{{ review.customer.firstName }} {{ review.customer.lastName }}</h3>
                                </div>
                            </div>                
                        </div>
                    {% endfor %}
                </div>
                </div>
                {# <div class="newletter">
                    <h2 class="h2Newletter">Abonnez-vous à notre newletter</h2>
                    <p class="pNewletter">ET beneficiez de -10% sur votre prochaine commande</p>
                    <form action="#">
                        <input class="mailNewletter" type="text" value="" placeholder="Entrer votre email" />
                        <input class="btn-dark btnSubmitNewletter" type="submit" value="S'ABONNER">
                    </form>
                </div> #}
            </div>
        </section>

        <!-- A propos de nous -->
        <section id="about" class="container-me">
                <div class="left_about">
                    <h2 class="h2">A propos de nous</h2>
                    <p>L’animalerie vous propose plus de 1000 références en alimentation, nourritures, produits et
                        accéssoires
                        pour animaux. Notre catalogue offres tout les produits et accessoires pour chiens, chats,
                        rongueurs,
                        poissons, reptiles, furets, cheveaux et même pour les animaux de ferme ou d’élevage.</p>
                    {# <a href="#" class="btn">En savoir plus</a> #}
                </div>
                <div class="right_cat">
                    <div class="cat"></div>
                </div>
        </section>

        <!-- Réassurances -->
        <section id="reinsurance" class="container-me">
            <div class="reassuranceBlob">
                <div class="delivery"></div>
                <p>Livraison en 48H</p>
            </div>
            <div class="reassuranceBlob">
                <div class="securePayment"></div>
                <p>Paiement sécurisé</p>
            </div>
            <div class="reassuranceBlob">
                <div class="customerService"></div>
                <p>Service client 24/7 </p>
            </div>
            <div class="reassuranceBlob">
                <div class="repayment"></div>
                <p>Remboursement 30j</p>
            </div>
        </section>

    </main>
    <span class="arrowScrollTop"></span>

{% endblock %}