{% extends 'front/base.html.twig' %}

{% block title %}Changer mot de passe{% endblock %}

{% block body %}
<section class="container-me">
    <div class="form">
        <h1>Changer mot de passe</h1>
        {{ form_start(passForm) }}
             <div class="formChild">
                {{ form_label(passForm.password) }}
                {{ form_widget(passForm.password) }}
                {{ form_label(passForm.newPassword) }}
                {{ form_widget(passForm.newPassword) }}
                
                {% if form_errors(passForm.password) %}
                    <div class="error">
                        {{ form_errors(passForm.password) }}    
                    </div>
                {% endif %}
                {% if form_errors(passForm.newPassword) %}
                    <div class="error">
                        {{ form_errors(passForm.newPassword) }}    
                    </div>
                {% endif %}               
             </div>
            <button class="button" type="submit">Enregistrer</button>
        {{ form_end(passForm) }}
    </div>
</section>
{% endblock %}
