{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <section>
        <div class="container">

            <h1>Product index</h1>

            <table class="table table-dark table-hover table-striped mt-3">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>PriceExclVat</th>
                        <th>PriceVat</th>
                        <th>Active</th>
                        <th>DateAdded</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.title }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.priceExclVat }}</td>
                        <td>{{ product.priceVat }}</td>
                        <td>{{ product.active ? 'Yes' : 'No' }}</td>
                        <td>{{ product.dateAdded ? product.dateAdded|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                            <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
