{% extends 'front/base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section class="container-me">
    <div class="authentication">    
        <h1>Inscription</h1>

        {{ form_start(registrationForm) }}
            <div class="formChild">
                {{ form_label(registrationForm.username) }}
                {{ form_widget(registrationForm.username) }}
                {% if  form_errors(registrationForm.username) %}
                    <div class="error">
                        {{ form_errors(registrationForm.username) }}
                    </div>     
                {% endif %}   
            </div>
            <div class="formChild">
                {{ form_label(registrationForm.plainPassword) }}
                {% set input %} 
                    {{ form_widget(registrationForm.plainPassword) }}
                {% endset %}
                {% include "/front/partials/_togglePassword.html.twig" with {
                    input: input,
                } %}

                {% if  form_errors(registrationForm.plainPassword) %}
                    <div class="error">
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                {% endif %}
            </div>
            <div class="formChild">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
                {% if form_errors(registrationForm.email) %}
                    <div class="error">
                        {{ form_errors(registrationForm.email) }}
                    </div>     
                {% endif %}
            </div>
            <div class="formChild">
                {{ form_label(registrationForm.firstName) }}
                {{ form_widget(registrationForm.firstName) }}
                {% if form_errors(registrationForm.firstName) %}
                    <div class="error">
                        {{ form_errors(registrationForm.firstName) }}
                    </div>      
                {% endif %}  
            </div>
            <div class="formChild">
                {{ form_label(registrationForm.lastName) }}
                {{ form_widget(registrationForm.lastName) }}
                {% if form_errors(registrationForm.lastName) %}
                    <div class="error">
                        {{ form_errors(registrationForm.lastName) }}
                    </div>
                {% endif %}
            </div> 
            <div class="formChild">
                {{ form_label(registrationForm.dateOfBirth) }}
                {{ form_widget(registrationForm.dateOfBirth) }}
                {% if form_errors(registrationForm.dateOfBirth) %}
                    <div class="error">
                        {{ form_errors(registrationForm.dateOfBirth) }}
                    </div>   
                {% endif %}        
            </div>
            <div class="formChild">
                {{ form_label(registrationForm.gender) }}
                {{ form_widget(registrationForm.gender) }}
                {% if form_errors(registrationForm.gender) %}
                    <div class="error">
                        {{ form_errors(registrationForm.gender) }}
                    </div>   
                {% endif %}   
            </div>
            <div class="formChild">
                {{ form_label(registrationForm.RGPDConsent) }}
                {{ form_widget(registrationForm.RGPDConsent) }}
                {% if form_errors(registrationForm.RGPDConsent) %}
                    <div class="error">
                        {{ form_errors(registrationForm.RGPDConsent) }}
                    </div>    
                {% endif %}       
            </div>

            <button type="submit" class="button btnSubmitForm">S'inscrire</button>
        {{ form_end(registrationForm) }}

        <p>Si vous avez déjà un compte : <a href="{{ path('app_checkout_login') }}">Connectez-vous</a></p>
    </div>
</section>
{% endblock %}
