

<div class="form">
    <h1>{{ title }}</h1>
    {{ form_start(form) }}
            <div class='formChild'>
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                {% if form_errors(form.title) %}
                    <div class="error">
                        {{ form_errors(form.title) }}
                    </div>
                {% endif %}       
            </div>
            <div class='formChild'>
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {% if form_errors(form.description) %}
                    <div class="error">
                        {{ form_errors(form.description) }}
                    </div>
                {% endif %}         
            </div>
            <div class='formChild'>
                {{ form_label(form.priceExclVat) }}
                {{ form_widget(form.priceExclVat) }}
                {% if form_errors(form.priceExclVat) %}
                    <div class="error">
                        {{ form_errors(form.priceExclVat) }}
                    </div>
                {% endif %}
            </div>
            <div class='formChild'>
                {{ form_label(form.tva) }}
                {{ form_widget(form.tva) }}
                {% if form_errors(form.tva) %}
                    <div class="error">
                        {{ form_errors(form.tva) }}
                    </div>
                {% endif %}
            </div>
            <div class='formChild'>
                {{ form_label(form.brand) }}
                {{ form_widget(form.brand) }}
                {% if form_errors(form.brand) %}
                    <div class="error">
                        {{ form_errors(form.brand) }}
                    </div>
                {% endif %}
               
            </div>
            <div class='formChild'>
                {{ form_label(form.category) }}
                {{ form_widget(form.category) }}          
                {% if form_errors(form.category) %}
                    <div class="error">
                        {{ form_errors(form.category) }}
                    </div>
                {% endif %}
            </div>
            <div class='formChild'>
                {{ form_label(form.promotion) }}
                {{ form_widget(form.promotion) }}             
                {% if form_errors(form.promotion) %}
                    <div class="error">
                        {{ form_errors(form.promotion) }}
                    </div>
                {% endif %}
            </div>

            {# Vérifier si la route est "app_product_edit" on affiche les images #}
            {% if app.request.attributes.get('_route') == 'app_product_edit' %}
                <label>Images</label>
                {# On affiche les images du produit actuelle #}
                <div class="containerImages">
                {% for image in product.images %}
                    <div class='formImages'>
                    <img src="{{ asset('/build/images/' ~ image.path) }}" alt="Image Produit">
                    <button class="button btnAction" href="{{ path('app_product_deleteImage', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}" >Supprimer</button>  
                    </div>
                {% endfor %}
                </div>
            {% endif %}

            <div class='formChild'>
                {{ form_row(form.images) }}
                {% if form_errors(form.images) %}
                    <div class="error">
                        {{ form_errors(form.images) }}
                    </div>
                {% endif %}
            </div>
            <div class='formChild'>
                {{ form_label(form.active) }}
                {{ form_widget(form.active) }}         
                {% if form_errors(form.active) %}
                    <div class="error">
                        {{ form_errors(form.active) }}
                    </div>
            {% endif %}
            </div>
                <button class="button btnSubmitForm">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>