
<div class="form">
    <h1>{{ title }}</h1>
    {{ form_start(form) }}
        <div class='formChild'>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {% if form_errors(form.name) %}
                <div class="error">
                    {{ form_errors(form.name) }}
                </div>
            {% endif %}       
        </div>
        <div class='formChild'>
            {{ form_label(form.percentage) }}
            {{ form_widget(form.percentage) }}
            {% if form_errors(form.percentage) %}
                <div class="error">
                    {{ form_errors(form.percentage) }}
                </div>
            {% endif %}       
        </div>
        <div class='formChild'>
            {{ form_label(form.expirationDate) }}
            {{ form_widget(form.expirationDate) }}
            {% if form_errors(form.expirationDate) %}
                <div class="error">
                    {{ form_errors(form.expirationDate) }}
                </div>
            {% endif %}       
        </div>

        <button class="button btnSubmitForm">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
</div>
