{% extends 'front/base.html.twig' %}

{% block title %} {{ product[0].title }}{% endblock %}

{% block body %}

<main>
    <section class="container-me" id="productSection">

        <div class="topProduct">
            <div class="imagesProduct">
                <div class="imagesSecondary">
                    {% for image in product[0].images %}             
                        <img src="{{ asset("build/images/" ~ image.path) }}" alt="{{ product[0].title }}">
                    {% endfor %}
                </div>
                <div class="imageMain">
                    {% for image in product[0].images %}
                        {% if image.isMain == true %}                 
                            <img src="{{ asset("build/images/" ~ image.path) }}" alt="{{ product[0].title }}">
                        {% endif %}
                    {% else %}
                        <p>Image indisponible</p>
                    {% endfor %}
                </div>
            </div>
            <div class="productInfo">
                <div class="starsAndReviews">
                    <div class="stars">
                        {{ product['Note'] | stars }}
                    </div>
                    <p class="p-1 nbReview">({{ product['Avis'] }} avis)</p>
                </div>
                <div class="productTitleAndBrandLabel">
                    <h1 class="title-product">{{ product[0].title }}</h1>
                    <p>{{ product[0].brand.label }}</p>
                </div>
                
                {% set priceTaxIncl = product[0].priceExclVat |priceTaxIncl( product[0].tva) %}

                {% if product[0].promotion and product[0].promotion.expirationDate > 'now' | date('d/m/Y') %}

                    <span class="percentagePromo">{{ product[0].promotion.percentage | percentagePromo }}</span>
                    <div class="priceProduct">
                        <p class="price priceInline">{{product[0].priceExclVat | priceTaxIncl( product[0].tva, product[0].promotion.percentage) }}€</p> 
                        <del>{{ priceTaxIncl }}€</del>
                    </div>

                {% else %}
                    <p class="price">{{ priceTaxIncl }}€</p>
                {% endif %}

                <a href=" {{ path('app_shoppingCart_add', {id: product[0].id} )}}" class="btn btnAddBasket">Ajoutez au panier</a>
            </div>
        </div>
        <div class="descriptionContainer">
            <h2>Description</h2>
            <p class="productDescription">{{ product[0].description }}</p>
        </div>

        <div class="similarProducts">
            <h2>Votre animal aimera surement</h2>
            <div class="carrouselContainer">
                <span class="arrow_left"></span>
                <span class="arrow_right"></span>
                <div class="carrousel carrouselProducts">          
                    {% include 'front/partials/_product.html.twig' with {
                        'products': productSameBrand,
                    } %}
                </div>
            </div>
        </div>

        {% if formReview is defined %}
            {% set content %}
                    {{ form_start(formReview) }}

                        <div class="stars">
                            <i class="fa-solid fa-star" data-value="1"></i><i class="fa-solid fa-star" data-value="2"></i><i class="fa-solid fa-star" data-value="3"></i><i class="fa-solid fa-star" data-value="4"></i><i class="fa-solid fa-star" data-value="5"></i>
                        </div>

                        <div class="formChild">
                            {{ form_label(formReview.note) }}
                            {{ form_widget(formReview.note) }}

                            {% if (form_errors(formReview.note)) %}
                                <div class="error">
                                    {{ form_errors(formReview.note) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="formChild">
                            {{ form_label(formReview.comment) }}
                            {{ form_widget(formReview.comment) }}

                            {% if (form_errors(formReview.comment)) %}
                                <div class="error">
                                    {{ form_errors(formReview.comment) }}
                                </div>
                            {% endif %}
                        </div>
                        <button class="button" type="submit">
                            Enregistrer
                        </button>
                    {{ form_end(formReview) }}
            {% endset %}
            {% include "/shared/partials/_modal.html.twig" with {
                title: "Ajouter un avis",
                content: content,
            } %}
        {% endif %}
        


        <div class="reviewsSection">
            <h2 class="">Avis client</h2>
            <div class="reviewsContainer">
                {% if formReview is defined %}
                    <button class="button" data-active-modal>Ecrivez un avis</a></button>
                {% endif %}
                {% for review in reviews %}              
                <div class="review">
                    <p class="reviewDate">{{ review.createdAt | date('d/m/Y') }}</p>
                    <div class="stars">
                        {{ review.note | stars }}
                    </div>
                    <p class="reviewCustomer">{{ review.customer.firstName }} {{ review.customer.lastName }}</p>
                    <p class="reviewComment">{{ review.comment}}</p>
                </div>
                {% endfor %}
            </div>
            {{ knp_pagination_render(reviews) }}
        </div>
    </section>
</main>

{% endblock %}
